@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

#Conteudo{
  max-width: 1200px;
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, 0%);
  padding-bottom: 150px;
  font-size: 1.6rem;
  background-color: linear-gradient(68deg, rgba(0, 0, 0, 0.842),rgba(217, 134, 25, 0.925))

}

body {
   
  font-family: Sarala, sans-serif;
  
    
}