@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

#Conteudo{
  max-width: 1200px;
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, 0%);
  padding-bottom: 0px;
  font-size: 1.6rem;
  

}

body {
   
  font-family: Sarala, sans-serif;
  background: linear-gradient(68deg, rgba(90, 72, 255, 0.938), rgba(255, 255, 255, 0.945));
  background-size: cover;
  height: 4000px;
}

@media (max-width:700px) {
  #Conteudo{
    max-width: 1200px;
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 1.6rem;
  }
}